.mainContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.charContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.linearChart {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.buttons_active {
    background-color: #18e0b5;

    border: 1px solid #18e0b5;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.buttons {
    border: 1px solid #000;
    background: transparent;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: #525252 1px solid;
    padding: 5px;
}

.filtername {
    margin: 0px 10px;
    width: 30px;
    align-self: center;
}

.filter_container {
    margin-top: 20px;
    border: #525252 1px solid;
}

.filterIcon {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .black {
    background-color: black;
    color: white;
  }

.error {
    color: red;
    font-size: 20px;
    margin-top: 15px;
}
